################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/.vs/Main/v15
/Main/Main/Main.vcxproj
/Main/Main/Main.vcxproj.filters
/Main/Main/Main.vcxproj.user
/Main/Main.sln
